# visual studio environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.vscode
.vscode/*
.vscode/launch.json
node_modules
node_modules/*
launch.json
settings.json
extensions.json